<nav class="main-header navbar navbar-expand navbar-white navbar-light">

    <!-- Bouton menu -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"
               data-widget="pushmenu"
               href="#"
               role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
    </ul>

    <!-- Partie droite -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item">

            <span class="nav-link">

                <i class="fas fa-user-circle"></i>

                {{ user.username }}

            </span>

        </li>

    </ul>

</nav>