<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Logo -->
     

    <a href="/" class="brand-link">

        <span class="brand-text font-weight-light ">

            EBBA

        </span>
          <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div> -->

    </a>

    <div class="sidebar">

        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu">

                <!-- Dashboard -->

                <!-- <li class="nav-item">

                    <a href="{% url 'dashboard' %}"
                       class="nav-link">

                        <i class="nav-icon fas fa-home"></i>

                        <p>

                            Tableau de bord

                        </p>

                    </a>

                </li> -->

                <!-- Participants -->

                <li class="nav-item">

                    <a href="{% url 'participant_list' %}"
                       class="nav-link">

                        <i class="nav-icon fas fa-users"></i>

                        <p>

                            Participants

                        </p>

                    </a>

                </li>

                <!-- Produits -->

                <!-- <li class="nav-item">

                    <a href="{% url 'product_list' %}"
                       class="nav-link">

                        <i class="nav-icon fas fa-box"></i>

                        <p>

                            Produits

                        </p>

                    </a>

                </li> -->

                <!-- Commandes -->

                <!-- <li class="nav-item">

                    <a href="{% url 'order_list' %}"
                       class="nav-link">

                        <i class="nav-icon fas fa-shopping-cart"></i>

                        <p>

                            Commandes

                        </p>

                    </a>

                </li> -->

                <!-- Configuration -->

                <!-- <li class="nav-item has-treeview">

                    <a href="#"
                       class="nav-link">

                        <i class="nav-icon fas fa-cogs"></i>

                        <p>

                            Configuration

                            <i class="right fas fa-angle-left"></i>

                        </p>

                    </a>

                    <ul class="nav nav-treeview">

                        <li class="nav-item">

                            <a href="{% url 'category_list' %}"
                               class="nav-link">

                                <i class="far fa-circle nav-icon"></i>

                                <p>Catégories</p>

                            </a>

                        </li>

                        <li class="nav-item">

                            <a href="{% url 'unit_list' %}"
                               class="nav-link">

                                <i class="far fa-circle nav-icon"></i>

                                <p>Unités</p>

                            </a>

                        </li>

                        <li class="nav-item">

                            <a href="{% url 'user_list' %}"
                               class="nav-link">

                                <i class="far fa-circle nav-icon"></i>

                                <p>Collaborateurs</p>

                            </a>

                        </li> -->

                    </ul>

                </li>

            </ul>

        </nav>

    </div>

</aside>
